<a href="https://colab.research.google.com/github/teliofm/codenation_ds/blob/master/main_codenation_challenge_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [ ]:
import pandas as pd
import numpy as np
#from google.colab import files

In [ ]:
#upload = files.upload()

Saving black_friday.csv to black_friday.csv

In [ ]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [ ]:
black_friday.head()

   User_ID Product_ID Gender  ... Product_Category_2  Product_Category_3 Purchase
0  1000001  P00069042      F  ...                NaN                 NaN     8370
1  1000001  P00248942      F  ...                6.0                14.0    15200
2  1000001  P00087842      F  ...                NaN                 NaN     1422
3  1000001  P00085442      F  ...               14.0                 NaN     1057
4  1000002  P00285442      M  ...                NaN                 NaN     7969

[5 rows x 12 columns]

In [ ]:
black_friday.shape

(537577, 12)

In [ ]:
black_friday.describe()

            User_ID    Occupation  ...  Product_Category_3       Purchase
count  5.375770e+05  537577.00000  ...       164278.000000  537577.000000
mean   1.002992e+06       8.08271  ...           12.669840    9333.859853
std    1.714393e+03       6.52412  ...            4.124341    4981.022133
min    1.000001e+06       0.00000  ...            3.000000     185.000000
25%    1.001495e+06       2.00000  ...            9.000000    5866.000000
50%    1.003031e+06       7.00000  ...           14.000000    8062.000000
75%    1.004417e+06      14.00000  ...           16.000000   12073.000000
max    1.006040e+06      20.00000  ...           18.000000   23961.000000

[8 rows x 7 columns]

In [ ]:
black_friday.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     537577 non-null  int64
 1   Product_ID                  537577 non-null  object
 2   Gender                      537577 non-null  object
 3   Age                         537577 non-null  object
 4   Occupation                  537577 non-null  int64
 5   City_Category               537577 non-null  object
 6   Stay_In_Current_City_Years  537577 non-null  object
 7   Marital_Status              537577 non-null  int64
 8   Product_Category_1          537577 non-null  int64
 9   Product_Category_2          370591 non-null  float64
 10  Product_Category_3          164278 non-null  float64
 11  Purchase                    537577 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB

In [ ]:
black_friday.isna().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

Valores nulos são de usuários que compraram apenas 1 ou 2 produtos.

In [ ]:
print('Total número de "\033[1mUsers/Clients\033[0m" = \033[1m'
      + str(len(black_friday.User_ID.unique())) 
      + '\033[0m')
print('Dos quais \033[1m' 
      + str(black_friday.drop_duplicates(subset=['User_ID']).Gender.value_counts()[0]) 
      + '\033[0m são homens, e \033[1m' 
      + str(black_friday.drop_duplicates(subset=['User_ID']).Gender.value_counts()[1]) 
      + '\033[0m são mulheres.')
print('Total número de diferentes "\033[1mProducts\033[0m" vendidos = \033[1m' 
      + str(len(black_friday.Product_ID.unique())) 
      + '\033[0m')

Total número de "Users/Clients" = 5891
Dos quais 4225 são homens, e 1666 são mulheres.
Total número de diferentes "Products" vendidos = 3623

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [ ]:
def q1():
    return (black_friday.shape)
q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [ ]:
def q2():
    respErrada = black_friday[(black_friday.Gender == 'F') & (black_friday.Age == '26-35')].shape[0] # Resposta errada, cheio de duplicados (Seria 545)
    uniqueID = black_friday.drop_duplicates(subset=['User_ID']) # df sem ID duplicados
    respCerta = uniqueID[(uniqueID.Gender == 'F') & (uniqueID.Age == '26-35')].shape[0] # Resposta certa, as duplicadas foram retiradas
    return respErrada
q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [ ]:
def q3():
    return len(black_friday.User_ID.unique())
q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [ ]:
def q4():
    return black_friday.dtypes.value_counts().count()
q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [ ]:
def q5():
    return (black_friday.isnull().sum()/len(black_friday)).max()
q5()

0.6944102891306734

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [ ]:
def q6():
    return black_friday.isna().sum().max()
q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [ ]:
def q7():
    return float( black_friday.Product_Category_3.mode() ) # Valores nulos são desconsiderados
q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [ ]:
def q8():
    # Cálculo da normalização (sklearn - MinMaxScaler), e sua média, de forma direta
    purchMin = black_friday.Purchase.min()
    purchMax = black_friday.Purchase.max()
    purchDelta = purchMax - purchMin
    purchMinMaxScalerMean = ( (black_friday.Purchase - purchMin) / purchDelta ).mean()
    return purchMinMaxScalerMean
q8()

0.38479390362696736

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [ ]:
def q9():
    # Cálculo da padronização (sklearn - StandardScaler)
    purchMean = black_friday.Purchase.mean()
    purchStd = black_friday.Purchase.std()
    Purchase_StandardScaler = (black_friday.Purchase - purchMean) / purchStd
    # Verificação e soma dos valores de dois desvios padrão
    twoStd = ( abs(Purchase_StandardScaler) <= 1).sum()
    return twoStd
q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [ ]:
def q10():
    # list with ONLY Null for Product 2
    prod2Null = black_friday.Product_Category_2[black_friday.Product_Category_2.isnull()]
    
    # Correspont list to Product 2 Index (Based on Null Values)
    prod3_to_prod2Null = black_friday.Product_Category_3[black_friday.Product_Category_2.isin( [None])]
    
    return prod2Null.equals(prod3_to_prod2Null)
q10()

True